@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  .typewriter {
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid white;
    animation: typewriter 4s steps(30, end) 1s forwards, blink 0.7s step-end infinite;
  }
}


.gradient-border {
  background: linear-gradient(270deg, #f43f5e, #3b82f6, #facc15, #10b981);
  background-size: 800% 800%;
  padding: 2px; /* thickness of border */
  border-radius: 1rem; /* match rounded-2xl */
}

.animate-gradientShift {
  animation: gradientShift 8s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

